{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Django test page</title>
        <!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->
        <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sample.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sha256.js' %}"></script>
    </head>
    <body>
    <form role="form">
    <div class="box-body">
    <div class="form-group">
    <label for="villageName">Village name</label>
    <input type="text" class="form-control" id="ipt_villageName" placeholder="Village name">
    </div>
    <div class="form-group">
    <label for="password">パスワード</label>
    <input type="password" class="form-control" id="ipt_password" placeholder="Password">
    </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
    </div>
    </form>
    <button type="button" class="btn btn-primary" id="btn_get">GET</button>
    <button type="button" class="btn btn-primary" id="btn_post">POST</button>
    </body>
</html>
