<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>村を作成 - ワンナイト人狼</title>
    </head>
    <body>
        <div id="comment"></div>
        <div class="form-group">
        <label for="villageName">村の名前</label>
        <input type="text" class="form-control" id="ipt_villageName" placeholder="Village name">
        </div>
        <div class="form-group">
        <label for="password">パスワード</label>
        <input type="password" class="form-control" id="ipt_password" placeholder="Password">
        </div>
        <button type="button" class="btn btn-primary" id="btn_create">作成</button>
    </body>
    <script type="text/javascript" src="{{url('static_file', filepath='js/sha256.js')}}"></script>
    <script type="text/javascript" src="{{url('static_file', filepath='js/common.js')}}"></script>
    <script type="text/javascript">
        function afterPost(status, responseText) {
            console.log('status = ' + status);
            console.log('responseText = ' + responseText);
            data = JSON.parse(responseText);
            console.log('data[village_name] = ' + data['village_name']);
            if (status == 200) {
                window.location.href = '../' + data['village_name'] + '/';
            }
            else if (status == 409) {
                document.getElementById('comment').innerHTML = '同じ名前の村が既に存在しています。';
            }
        }
        document.getElementById('btn_create').addEventListener('click',
            function() {
                let hostname = window.location.hostname;
                let port = window.location.port;
                let ipt_villageName = document.getElementById('ipt_villageName').value;
                let ipt_password = document.getElementById('ipt_password').value;
                let shaObj = new jsSHA(ipt_password, "ASCII");
                let sha256digest = shaObj.getHash("SHA-256", "HEX");
                let data = {
                    village_name: ipt_villageName,
                    password: sha256digest
                };
                console.log(data);
                window.localStorage.setItem("password", sha256digest);
                postToAPI('http://' + hostname + ':' + port + '/api/', data, afterPost);
            }
            , false);

    </script>
</html>
