<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>登録 - {{village_name}}村</title>
    </head>
    <body>
        <div id="comment"></div>
        <div class="form-group">
        <div id"villageName">{{village_name}}村<div>
        <label for="name">名前</label>
        <input type="text" class="form-control" id="ipt_playerName" placeholder="Name">
        </div>
        <div class="form-group">
        <label for="password">パスワード</label>
        <input type="password" class="form-control" id="ipt_password" placeholder="Password">
        </div>
        <button type="button" class="btn btn-primary" id="btn_join">登録</button>
    </body>
    <script type="text/javascript" src="{{url('static_file', filepath='js/common.js')}}"></script>
    <script type="text/javascript">
        function afterPost(status, responseText) {
            console.log('status = ' + status);
            console.log('responseText = ' + responseText);
            data = JSON.parse(responseText);
            if (status == 200) {
                window.location.href = '../' + data['player_name'] + '/';
            }
            else if (status == 409) {
                document.getElementById('comment').innerHTML = '同じ名前のプレイヤーが既に存在しています。';
            }
            else if (status == 404) {
                document.getElementById('comment').innerHTML = data['village_name'] + '村は存在しません。';
            }
        }
        document.getElementById('btn_join').addEventListener('click',
            function() {
                let hostname = window.location.hostname;
                let port = window.location.port;
                let ipt_playerName = document.getElementById('ipt_playerName').value;
                let ipt_password = document.getElementById('ipt_password').value;
                let data = {
                    player_name: ipt_playerName,
                    password: ipt_password
                };
                console.log(data);
                postToAPI('http://' + hostname + ':' + port + '/api/{{village_name}}/', data, afterPost);
            }
            , false);
    </script>
</html>
