<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>村に参加 - ワンナイト人狼</title>
    </head>
    <body>
        <div class="form-group">
        <div id="comment"></div>
        <label for="villageName">村の名前</label>
        <input type="text" class="form-control" id="ipt_villageName" placeholder="Village name">
        </div>
        <button type="button" class="btn btn-primary" id="btn_participate">参加</button>
    </body>
    <script type="text/javascript" src="{{url('static_file', filepath='js/common.js')}}"></script>
    <script type="text/javascript">
        function afterGet(status, response) {
            //console.log(response['village_name']);
            let hostname = window.location.hostname;
            let port = window.location.port;
            let villageName = response['village_name'];
            if (status == 200) {
                window.location.href = 'http://' + hostname + ':' + port + '/' + villageName + '/login/';
            }
            else if (status == 404) {
                document.getElementById('comment').innerHTML = villageName + '村は存在しません。';
            }
        }
        document.getElementById('btn_participate').addEventListener('click',
            function() {
                let hostname = window.location.hostname;
                let port = window.location.port;
                let ipt_villageName = document.getElementById('ipt_villageName').value;
                getFromAPI('http://' + hostname + ':' + port + '/api/' + ipt_villageName + '/', afterGet);
            }
            , false);
    </script>
</html>
